img[src*=aeug] {
    
    border: 1px solid red;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    object-fit: contain;
    object-position: center;
}

img[src*=londo-bell] {
    
    position: relative;
    left: 230px;
    bottom: 220px;
    border: 1px solid red;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    object-fit: contain;
    object-position: center;
}

img[src*=snri] {
    
    position:relative;
    left: 460px;
    bottom: 440px;
    border: 1px solid red;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    object-fit: contain;
    object-position: center;
}

img[src*=zaft] {
    
    position: relative;
    bottom: 440px;
    border: 1px solid red;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    object-fit: contain;
    object-position: center;
}

img[src*=ttt] {
    
    position: relative;
    left: 230px;
    bottom: 660px;
    border: 1px solid red;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    object-fit: contain;
    object-position: center;
}

img[src*=ttt2] {
    
    position:relative;
    left: 460px;
    bottom: 880px;
    border: 1px solid red;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    object-fit: contain;
    object-position: center;
}


/* .row {
    clear: both;
    height: 250px;
}
.row > div {
    float: left;
    width: 225px;
    height: 225px;
    border: 1px solid #f00;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 5px;
}
.row img {
    max-width: 100%;
    max-height: 100%;
} */