body {
  margin: 0;
  font-family: helvetica, verdana, arial;
}
h3 {
  color: #62a1d7;
}
.container {
  width: 100%;
  text-align: center;
}
.wrapper {
  clear: both;
  padding-top: 25px;
}
.wrapper > div {
  width: 1150px;
  margin: 0 auto;
}
.wrapper-features {
  background-color: #eef6fa;
  height: 600px;
}
.wrapper-solutions {
  background-color: rgb(37, 32, 76);
  height: 550px;
  margin-bottom: 50px;
}
.banner > div {
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
}
.banner-text {
  width: 49.9%;
  text-align: left;
}
.banner-text > * {
  padding-left: 15px;
  padding-right: 15px;
}

.banner-text h3 {
  font-size: 18px;
  color: #62a1d7;
  text-align: left;
  font-weight: 600;
}

.banner-img > img {
  max-width: 100%;
}

.features > h3 {
  font-size: 18px;
  margin-bottom: 15px;
  max-width: 100%;
}

.feature {
  float: left;
  width: 33.3%;
}

.feature img {
  border-width: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
  height: 150px;
  line-height: 24px;
  margin: 0;
  max-width: 100%;
  min-height: 1px;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 150px;
}

.feature h3 {
  color: black;
  border-width: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
  vertical-align: baseline;
}

.feature p {
  border-width: 0;
  box-sizing: border-box;
  color: #686868;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: baseline;
}

.feature h3 {
  height: 45px;
}

.solutions {
  color: #fff;
}

.solution {
  float: left;
  width: 33.3vw;
  text-align: center;
}

.solution > div {
  border: 1px solid #756CB1;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 35px;
  min-height: 210px;
  padding: 20px;
  vertical-align: baseline;
}
  
.solution img {
  box-sizing: border-box;
  max-width: 100%;
}

.solution h3 {
  border-width: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.solution p {
  border-width: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  padding: 0;
  vertical-align: baseline;  
}

@media only screen and (max-width: 1600px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

.banner-text {
  /* width: 49.9vw;
  text-align: left;
  max-width: 49.9%; */
  width: 50%;
  text-align: center;
}

.banner-text h1 {
  width: 100vw;
  text-align: left;
  max-width: 90%;
  font-weight: 800;
  font-size: 42px;
  line-height: 1;
}

.banner-text p {
  font-size: 15px;
  color: #686868;
}

.banner-img {
  width: 30vw;
}

.banner-img > img {
border-width: 0;
box-sizing: border-box;
height: auto;
margin: 0;
max-width: 100%;
min-height: 1px;
padding: 0;
vertical-align: top;
}

.features > h3 {
  margin-bottom: 15px;
  width: 100vw;
  max-width: 100%;
}

.feature > h3, p {
  width: 100vw;
  max-width: 100%;
}

.features > .feature {
  width: 30vw;
  padding: 5px;
}

.wrapper-solutions {
  background-color: rgb(37, 32, 76);
  margin-bottom: 50px;
}

.solutions > h3, h1 {
  text-align: center;
  width: 90vw;
}

.solution > h3, p {
  text-align: left;
  width: 25vw;
}

.solution > div {
  border: 1px solid #756cb1;
  max-width: 80%;
  float: left;
}

.solution img {
  width: 48px;
  float: left;
}

.solution h3, p {
  width: 100vw;
  max-width: 80%;
}
}

@media only screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

  .banner-img {
    width: 100vw;
    max-width: 100%;
  }

  .banner-text {
    width: 100vw;
    text-align: left;
    max-width: 100%;
  }

  .wrapper-features {
    background-color: #eef6fa;
    height: 1100px;
  }

  .features > h3 {
    margin-bottom: 15px;
    width: 100vw;
    max-width: 100%;
  }

.feature > img {
  position: relative;
  right: 10vw;
  border-width: 0;
  box-sizing: border-box;
  height: 150px;
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-height: 1px;
  vertical-align: top;
  width: 150px;
}

.feature > h3, p {
  width: 100vw;
  max-width: 100%;
}

.features > .feature {
  width: 128vw;
}

.wrapper-solutions {
  background-color: rgb(37, 32, 76);
  height: 1000px;
  margin-bottom: 50px;
}

.solutions > h3 {
  border-width: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  vertical-align: baseline;
}

.solutions > h1 {
  border-width: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 42px;
  font-weight: 800;
  line-height: 1;
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
  vertical-align: baseline;
}

.solution > h3, p {
  text-align: left;
  width: 100vw;
}

.solution {
  width: 128vw;
}

.solution > div {
  border: 1px solid #756cb1;
  margin: 15px;
  padding: 15px 35px 35px 15px;
  height: auto;
  width: 93vw;
}

.solution img {
  width: 48px;
  float: left;
}
  
.solution h3 {
  width: 100vw;
}
  
.solution p {
  display: inline-block;
  width: 80vw;
}

}
