html,  body {
    overflow-x: hidden;
}
body {
    margin: 0;
    font-family: helvetica, verdana, arial;
}
h3 {
    color: #62a1d7;
}
.container {
    width: 100%;
    text-align: center;
}
.wrapper {
    clear: both;
    padding-top: 25px;
}
.wrapper > div {
    margin: 0 auto;
}
.wrapper-features {
    background-color: #eef6fa;
    height: 500px;
}
.wrapper-solutions {
    background-color: #262051;
    height: 500px;
    margin-bottom: 50px;
}
.banner > div {
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
.banner-text {
    width: 49%;
    text-align: left;
}
.banner-text > * {
    padding-left: 15px;
    padding-right: 15px;
}
.banner-img {
    width: 41.6%;
}
.banner-img > img {
    margin-top: 15px;
    max-width: 100%;
    border-width: 0;
    box-sizing: border-box;
    margin: 0;
    min-height: 1px;
    padding: 0;
}
.features > h3 {
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
}
.feature {
    float: left;
    width: 33.3%;
}
.feature img {
    max-width: 100%;
    width: 150px;
}
.feature h3, .feature p {
    padding-left: 15px;
    padding-right: 15px;
}
.feature h3 {
    height: 45px;
}
.solutions {
    color: #fff;
}
.solution {
    float: left;
    width: 33.3%;
    text-align: left;
}
.solution > div {
    border:  1px solid #756cb1;
    margin: 15px;
    padding: 20px;
    height: auto;
    box-sizing: border-box;
    min-height: 210px;
}
.solution img {
    width: 48px;
    float: left;
}
.solution h3 {
    width: 245px;
    float: left;
    padding-left: 10px;
    margin: 0;
    color: white;
}
.solution p {
    clear: both;
    padding-top: 20px;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    padding: 0 16px;
}

.solutions > h3 {
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
}

/* ===------------- additional CSS for desktop-------------------------=== */

.banner-text p {
    font-size: 15px;
    color: #686868;
}
.banner-text > h3 {
    font-size: 18px;
    width: 100%;
}
.banner-text h1 {
    width: 100%;
    text-align: left;
    max-width: 90%;
    font-weight: 800;
    font-size: 42px;
    line-height: 1;
}
.feature h3 {
    color: black;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 30px 0;
    padding: 0;
    text-align: center;
}
.feature p {
    color: #686868;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    padding: 0 16px 16px 16px;
}
.solutions > h1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 1;
    width: 99%;
}
.banner-img {
    width: 50%;
}

/* ===--------------------------------------=== */

@media only screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden; 
    }
  body {
    position: relative;
    }

.banner-img > img {
    margin: 0;
    min-width: 50%;
    height: auto;
    padding: 15px;
}
.banner-img {
    width: 100%;
    height: auto;
}
.banner-text {
    width: 100%;
}

/* #1 sections customised features */

.wrapper-features {
    background-color: #eef6fa;
    height: 1100px;
}
.features > h3 {
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
}
.feature > img {
    border-width: 0;
    box-sizing: border-box;
    height: 150px;
    max-width: 100%;
    min-height: 1px;
    vertical-align: top;
    width: 150px;
}
.feature > h3, p {
    width: 100%;
    max-width: 100%;
}
.features > .feature {
    width: 100%;
}

/* #2 sections customised solutions */

.wrapper-solutions {
    background-color: #262051;
    min-height: 1200px;
}
.solutions > h1 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    width: 100%;
}
.solutions > h3 {
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
}
.solution > h3, p {
    width: 95%;
    max-width: 95%;
}
.solutions > .solution {
    width: 100%;
}
.solution > div {
    border: 1px solid #756cb1;
    max-width: 100%;
    height: auto;
}
}

