:root {
    --primary-dark-color: #192951;
    --primary-regular-color: #0074B4;
    --primary-light-color: #69B3E3;
    --primary-disabled-color: #40A3E2;
    --primary-selected-color: #D5DBEB;
    --primary-ultralight-color: #F4FAFF;
    --primary-unselected-color: #4D97CB;
    --primary-orange-color: #FA7533;
    --primary-tintblue-color: #F2F5FB;
}

@font-face {
    font-family: "Futura", "Futura Bold font", "Futura Bold Italic font",
      "Futura Book font", "Futura Book Italic font", "Futura Extra Black font",
      "Futura Heavy font", "Futura Heavy Italic font", "futura light bt",
      "Futura Light font", "Futura Light Italic font", "futura medium bt",
      "futura medium condensed bt", "Futura Medium Italic font", "Futura XBlk BT",
      "tt0205m", "unicode futurab", "unicode futurabb", "sans-serif";
    src: local("../task-5 version 2/fonts") format("opentype");
  }
  
  body {
        font-family: futura-pt, sans-serif;
        font-weight: 300;
  }

/* On Chrome */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
/* For Firefox and IE */
.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/*----------------------------------------------------*/
/* Navbar Header Area css
============================================================================================ */

.bg-blue {
    background-color: var(--primary-regular-color);
  }
  
  .navbar-brand {
    padding-left: 12%;
  }
  
  .navbar-nav.mx-auto.my-2.my-lg-0.navbar-nav-scroll > .nav-item .nav-link {
    color: var(--primary-light-color);
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  
  .nav-link > .btn.btn-primary.rounded-pill {
    background-color: var(--primary-orange-color);
    width: 119px;
  }
  
  .nav-link > .btn.btn-outline-light.rounded-pill {
    width: 119px;
  }
  
  .dropdown:hover .dropdown-menu {
    background-color: var(--primary-regular-color);
    color: var(--primary-light-color);
    padding: 12px 0;
    border-radius: 0px;
    display: block;
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown .dropdown-menu:hover {
    background-color: var(--primary-regular-color);
  }
  
  .dropdown-menu:hover .dropdown {
    display: block;
  }
  
  .dropdown-menu:hover .dropdown-item {
    background-color: var(--primary-regular-color);
  }

  /* .dropdown-toggle::after {
    display: none;
} */



/*----------------------------------------------------*/
/* Landing page Area css
============================================================================================ */

.start-intro {
    display: grid;
    grid: 60% / 1fr 1.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template:
    "intro-Title"
    "phoneFr"
    "threeSteps"
    "biz01"
    "speed02"
    "funding03"
    "whoWe"
    "whatWe"
    "pricingPlans"
    "nextSteps";
}


  
.intro-Title {
    grid-area: intro-Title;
    background-color: var(--primary-regular-color);
    padding: 0 0 150px 0;
    z-index: 1;
}

.intro-Title > * {
    text-align: center;
    color: white;
    margin: 25px 0 25px 0;
    width: 100vw;
}

.intro-Title > div > .btn.btn-primary-info.rounded-pill {
    background-color: var(--primary-light-color);
    color: white;
    margin-top: 5px;
    width: 157px;
    height: 36px;    
}
  
.phoneFr {
    grid-area: phoneFr; 
    text-align: center;
    position: relative;
    bottom: 920px;
    margin-bottom: -650px;
    z-index: 2;
    width: 100vw;
}

.phoneframe-ftSq {
    width: 400px;
    height: 400px;
    margin: 0 auto;   
}

.phoneLottie1 {
    position: relative;
    left: 100px;
    top: 525px;
}

.phoneLottie2 {
    position: relative;
    left: 100px;
    top: 500px;
}

img[src="/task-5/img/bSmart Web/Group 3292.svg"] {
    width: 380px;
}

.threeSteps {
    grid-area: threeSteps;
    text-align: center;
    position: relative;
    bottom: 135px; 

}

.threeSteps div:first-child {
    font-size: 1.25rem;
    font-weight: bold;
    position: relative;
    letter-spacing: 3.89px;
    top: 155px;
}


.whoWe > span, .pricingPlans > span {
    display: block;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: black;
    text-align: center;
}


.threeSteps > div > span, .whoWe > div > span, .whatWe > div > span, .pricingPlans > div > span {
    display: block;
    font-size: 2.625rem;
    /* font-weight: bold; */
    letter-spacing: 8px;
    color: var(--primary-light-color);
    text-align: center;
    
}

.threeSteps > div {
    margin-top: 150px;
}

.d-flex > .vr {
    height: 148px;
    color: #CECECE;
    border-left: dashed 1px;
    margin: 50px auto 0 auto;
}

#num01 {
    position: relative;
    z-index: 2;
    left: -75px;
    bottom: 35px;
    margin: 0 auto;
}

.lottie-bg01 {
    position: relative;
    z-index: 1;
    left: -5px;
    bottom: 245px;
}

.biz01 {
    grid-area: biz01; 
}

.biz01 > .d-flex > .vr {
    position: relative;
    bottom: 155px;
    z-index: 1;
}

.flexBiz01 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: white;
    height: 400px;
    overflow: hidden;
    flex-direction: row;
    margin: -50px auto 0 auto;
    position: relative;
    bottom: 155px;
}


.lottie-ftSq {
    width: 200px;
    height: 200px;
    margin: 150px;
    border-radius: 5%;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.08);
}

.title-text {
    font-size: 1.3125rem;
    width: 350px;
    height: 250px;
    margin: 10px auto;
}

#num02 {
    position: relative;
    z-index: 2;
    left: -5px;
    bottom: 40px;
    margin: 0 auto;
}

.lottie-bg02 {
    position: relative;
    z-index: 1;
    left: 150px;
    bottom: 345px;
}


.title-text > span {
   font-weight: bold;
}


.speed02 {
    grid-area: speed02; 
}

.flexSpeed02 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: white;
    height: 500px;
    overflow: hidden;
    flex-direction: row;
    margin: 0 auto -200px auto;
    position: relative;
    bottom: 155px;
}

.flexSpeed02 > .title-text {
    position: relative;
    bottom: 100px;
}


.flexSpeed02 > div > span {
   font-weight: bold; 
}


.funding03 {
    grid-area: funding03;
     
}

.flexFund03 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: white;
    height: 500px;
    overflow: hidden;
    flex-direction: row;
    margin: 50px auto -200px auto;
    position: relative;
    bottom: 155px;

}

.flexFund03 > .title-text {
    position: relative;
    bottom: 100px;
}

.d-flex > .vr {
    position: relative;
    bottom: 100px;
}


.flexFund03 div {
    margin: 70px;
}


.lottie-ftSq03 {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 5%;
    position: relative;
    top: 220px;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.08);
}

#num03 {
    position: relative;
    z-index: 2;
    right: 55px;
    top: -50px;
    margin: 0 auto;
}
.lottie-bg03 {
    position: relative;
    z-index: 1;
    right: 50px;
    top: -245px;
}

.flexFund03 > div > span {
   font-weight: bold; 
}


.whoWe {
    grid-area: whoWe; 
}

.flexWhoWe {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: white;
    height: 800px;
    overflow: hidden;
    flex-direction: row;
    margin: 0 auto;
}

.flexWhoWe .whoTitle {
    font-size: 1.125rem;
    width: 400px;
    height: 600px;
    margin: 80px;
    padding: 25px;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.05);
}

.flexWhoWe > div > span {
   font-weight: bold; 
}

.lottie-bg04 {
    position: relative;
    z-index: -1;
    right: 20px;
    top: -400px;
}



.whatWe {
    grid-area: whatWe; 
}


.flexWhatWe {
    display: flex;
    border-radius: 15px;
    background-color: var(--primary-regular-color);
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 900px;
    height: 480px;
    overflow: hidden;
    flex-direction: row;
    margin: 0 auto;
    padding: 55px
}

.flexWhatWe div {
    color: white;
    font-size: 0.95rem;
    width: 500px;    
}

.flexWhatWe div:nth-last-child(2) {
    margin-left: 50px;
}

.flexWhatWe > div > span {
    font-size: 2rem;
    line-height: 0.9;
}

.lottie-bg05 {
    position: relative;
    left: 50;
 
}

.pricingPlans {
    grid-area: pricingPlans;
    border-radius: 35px; 
    width: 1000px;
    height: 1050px;
    text-align: center;
    margin: 190px auto 0 auto;
}

.flexPlans {
    font-size: 1.75rem;
    line-height: 1;
}

.pricingPlans > div:first-child {
    display: block;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: black;
    text-align: center;
}

.flexPricing {
  display: flex;
  border-radius: 35px;
  box-shadow: 0px 0px 90px -20px rgba(0,0,0,0.35);
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.flexPlans {
  display: block;
}

.flexCards {
  display: inline;
}

.cards-container {
    display: flex;
    flex-direction: row;
    margin: 15px;
  }
  
.liteCard {
    display: block;
    width: 300px;
    height: 700px;
    background-color: var(--primary-tintblue-color);
    border-radius: 15px;
    margin-right: 20px;
    padding: 20px;
  }
  
.liteContainer {
    display: grid;
    grid: 1fr 1fr / 0.3fr 0.2fr;
    grid-auto-flow: column;
    grid-template:
      "lite fee"
      "includes .";
}
  
.lite {
    grid-area: lite; 
    text-align: left;
    font-size: 1.5625rem;
    font-weight: bolder;
    color: var(--primary-dark-color);
}

.lite > span {
    font-size: 0.8125rem;
}

.fee {
    grid-area: fee; 
    font-size: 1.25rem;
    line-height: 0.95;
    font-weight: bolder;
}   

.fee > span {
    font-size: 0.6875rem;
}

.includes {
    grid-area: includes;
    font-size: 0.875rem;
    text-align: left;
    margin: 25px 0 10px 0;
}

.includes > img {
    position: relative;
    bottom: 12px;
}
 
ul.no_bullet {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    text-align: left;
}

li.btick {
    background: url('../img/bSmart Web/Icon\ awesome-check-1.svg') no-repeat left top;
    font-size: 0.75rem;
    padding: 0 0 20px 20px;
}

li.gtick {
    background: url('../img/bSmart Web/Icon\ awesome-check-5.svg') no-repeat left top;
    font-size: 0.75rem;
    padding: 0 0 20px 20px;
}


.proCard {
    display: block;
    width: 300px;
    height: 700px;
    background-color: var(--primary-dark-color);
    border-radius: 15px;
    padding: 20px;
    color: white;
}

.proContainer {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr;
    grid-template:
      "pro"
      "proFee"
      "proIncludes";
}
  
.pro {
    grid-area: pro;
    font-size: 1.5625rem;
    color: var(--primary-light-color) ;
    text-align: left;
    font-weight: bolder;
}

.pro > span {
    font-size: 0.8125rem;
}
  
.proFee {
    grid-area: proFee;
    font-size: 0.6875rem;
    color: var(--primary-light-color); 
    text-align: left;
}
  
.proIncludes {
    grid-area: proIncludes;
    color: white; 
    font-size: 0.875rem;
    text-align: left;
    margin: 25px 0 10px 0;
}
  
.proIncludes > img {
    position: relative;
    bottom: 12px;
}

.flexPricing:last-child {
    font-size: 0.75rem;
    font-weight: bolder;
    padding: 20px 0;
}


.nextSteps {
    background-color: var(--primary-dark-color);
    text-align: center;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.19);
    padding-top: 30px;
    height: 550px;
}

.nextSteps > .container-fluid {
    color: white;
    margin: 30px 0;
    font-size: 1.125rem;
}

.container-fluid > div > span  {
    font-size: 2.625rem;
}

.spacing {
    margin-top: 25px;
}

.formSpacing {
    margin: 5px 0;
}

.planDropdown {
    background-color: var(--primary-orange-color);
    color: white;
    font-size: 1.0625rem;
    font-weight: bold;
    padding: 5px 35%;
}

.sendBtn {
    background: var(--primary-unselected-color);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    border-style: none;
}

.contactBg {
    background-color: var(--primary-tintblue-color);
    padding: 25px;
}

.tbAlign {
    padding: 10px;
}

.tbAlign02 {
    margin-left: 100px;
}

.flexContact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    font-size: 0.8125rem;
    color: var(--primary-regular-color);
    text-align: left;
    margin: 25px auto;
    color: black;
}


  
.contact-items:nth-child(1) {
    font-size: 0.8125rem;
    color: black;
    margin-right: 35px;
  }

.contact-items:nth-child(2) {
    font-size: 0.8125rem;
    color: black;
    margin-right: 35px;
}

.contact-items:nth-child(3) {
    font-size: 0.8125rem;
    color: black;
  }


@media only screen and (max-width: 992px) {
    
    html, body {
        overflow-x: hidden;
        }
    body {
        position: relative
    }  

img[src*=phonebackdrop] {
    visibility: hidden;
}

.hideDeskop {
    display: flex;
}
  
.threeSteps:nth-child(1) {
    visibility: visible;
    width: 100vw;
  }
  
.biz01:nth-child(2), .speed02:nth-child(3),
 .funding03:nth-child(4), .whoWe:nth-child(5),
  .whatWe:nth-child(6), .pricingPlans:nth-child(7), .nextSteps:nth-child(8), .contactBg, .container-fluid.dfooter {
    display: none;
 }

 .mobileView {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: -225px auto -100px auto;
  }
  
  .step01 {
    display: flex;
    flex: 1 1 auto;
    align-self: center;
    max-width: 500px;
    text-align: center;
    /* margin: -200px auto -100px auto; */

  }

  .title-text {
    font-size: 1.125rem;
    max-width: 500px;
    width: 100vw;
    height: 90px;
    margin: -100px auto;
    text-align: center;
}

  .step02 {
    display: flex;
    flex: 1 1 auto;
    align-self: center;
    max-width: 500px;
    text-align: center;
    margin: 75px auto -100px auto;

  }
  
  .lottie-bg02 {
    position: relative;
    z-index: 1;
    left: 150px;
    bottom: 345px;
}

#num02 {
    position: relative;
    z-index: 2;
    left: -175px;
    bottom: 40px;
    margin: 0 auto;
}

.title-text02 {
    font-size: 1.125rem;
    max-width: 500px;
    width: 100vw;
    height: 90px;
    margin: -300px auto;
    text-align: center;
}

.title-text02 > span {
    font: 24px;
    font-weight: bold;
}

  .step03 {
    display: flex;
    flex: 1 1 auto;
    align-self: center;
    max-width: 500px;
    text-align: center;
    margin: 300px auto 35px auto;

  }

  .lottie-bg03 {
    position: relative;
    z-index: 1;
    left: 110px;
    top: 65px;
}

.lottie-ftSq03 {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 5%;
    position: relative;
    top: 300px;
    left: 140px;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.08);
}

.title-text03 {
    font-size: 1.125rem;
    max-width: 500px;
    width: 100vw;
    height: 90px;
    margin: 50px auto;
}

.title-text03 > span {
    font: 24px;
    font-weight: bold;
}

  .aboutWho {
    display: flex;
    flex: 1 1 auto;
    align-self: center;
    max-width: 500px;
    text-align: center;
    margin: 50px auto -350px auto;

  }
  
  .lottie-bg04 {
    position: relative;
    right: 40px;
    top: -380px;
}

.aboutWho > .whoWe {
    text-align: left;
    width: 70vw;
}

.aboutWho > .whoWe > .whoTitle {
    position: relative;
    bottom: 300px;
    right: 0px;
    font-size: 1.125rem;
    height: fit-content;
    max-width: auto;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.05);
}

  .aboutWhat {
    display: flex;
    flex: 1 1 auto;
    align-self: center;
    max-width: auto;
    text-align: center;
    margin: 30px auto 100px auto;
  }

.save-container {
    display: flex;
    border-radius: 15px;
    background-color: var(--primary-regular-color);
    color: white;
    flex-direction: column;
    flex-wrap: nowrap;
    /* justify-content: flex-start; */
    align-items: stretch;
    align-content: stretch;
    width: auto;
    padding: 20px;
    margin: 20px 10px 0px 10px;
    text-align: left;
  }
  
  .saveMoney {
    display: block;
    flex: 1 1 auto;
  }
  
  .lottieRobot {
    position: relative;
    left: 35px;
  }

.doWhat {
    margin: 75px auto 100px auto;
}

.whatWe > .save-container > .saveMoney span {
    font-size: 28px;
}

  .plansPricing {
    display: block;
    flex: 1 1 auto;
    align-self: auto;
    width: 100vw;
    text-align: center;
  }

.planFonts01 {
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 0.5rem;
}

.planFonts02 {
    font-size: 42px;
    font-weight: bolder;
    color: var(--primary-regular-color);
    letter-spacing: 0.5rem;
    
}

.startPlan {
    font-size: 28px;
    /* font-weight: bolder; */
    text-align: left;
    margin: 20px 10px 0px 30px;
}

  .flex-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
  
  .flex-lite {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
  }
  
  .flex-pro {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  .liteCard {
    display: block;
    height: 350px;
    background-color: var(--primary-tintblue-color);
    border-radius: 15px;
    margin-right: 20px;
    padding: 20px;
    margin: 20px 10px 0px 10px;
    width: 95vw;
  }

  .fee {
      text-align: right;
  }

  .proCard {
    display: block;
    height: 600px;
    background-color: var(--primary-dark-color);
    border-radius: 15px;
    padding: 20px;
    color: white;
    margin: 20px 10px 0px 10px;
    width: 95vw;
}
 
  .CTA {
    display: block;
    flex: 1 1 auto;
    align-self: auto;
    width: 100vw;
    background-color: var(--primary-dark-color);
    text-align: center;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.3);
    height: 550px;
    color: white;
    margin-top: 50px;
  }
  
  .planDropdown2 {
    background-color: var(--primary-orange-color);
    color: white;
    font-size: 1.0625rem;
    font-weight: bold;
    padding: 5px 1.2rem;
    margin: 10px 0;
}


.socialbars {
    display: block;
    flex: 1 1 auto;
    align-self: auto;
    width: 100vw;
    background-color: var(--primary-tintblue-color);
    text-align: justify;
    height: 150px;
    color: black;
  }

.tbAlign {
    padding: 35px;
    text-align: center;
}

.tbAlign02 {
    text-align: center;
    width: 75vw;
    margin-left: -10px;
}

  .mobileFooter {
    display: block;
    flex: 1 1 auto;
    align-self: auto;
    width: 100vw;
    text-align: left;
    padding-bottom: 100px;
    color: var(--primary-regular-color);
  }


hr {
    padding-bottom: 10px;
    width: 85%;
}


.mobileFooter a {
    margin: 20px;
}
  

}




@media only screen and (max-width: 768px) {

    html, body {
        overflow-x: hidden;
        }
    body {
        position: relative
    }

    #num02 {
        position: relative;
        z-index: 2;
        left: -150px;
        bottom: 35px;
        margin: 0 auto;
    }
    
    .lottie-bg02 {
        position: relative;
        z-index: 1;
        left: 175px;
        bottom: 340px;
    }
    
    .lottie-ftSq02 {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 150px;
        left: 25px;
        border-radius: 5%;
        box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.08);
    }
    
    .title-text02 {
        font-size: 1.125rem;
        text-align: center;
        width: 519px;
        height: 141px;
    } 
    
    .title-text02 > span {
    font-size: 1.5rem;
    font-weight: bold;
    }
    
    
    .step02 {
        display: flex;
        flex: 1 1 auto;
        align-self: center;
        max-width: 500px;
        text-align: center;
        margin: 75px 10px -10px 10px;
    
      }

}


#num03 {
    position: relative;
    z-index: 2;
    right: 15px;
    bottom: 55px;
    margin: 0 auto;
}

.lottie-bg03 {
    position: relative;
    z-index: 1;
    left: 100px;
    top: -80px;
}

.lottie-ftSq03 {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 150px;
    left: -10px;
    border-radius: 5%;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.08);
}

.title-text03 {
    position: relative;
    bottom: 135px;
    right: 10px;
    font-size: 1.125rem;
    text-align: center;
    width: 319px;
    height: 141px;
    width: 80vw;
} 

.title-text03 > span {
    font-size: 1.5rem;
    font-weight: bold;
}

.step03 {
    display: flex;
    flex: 1 1 auto;
    align-self: center;
    max-width: 500px;
    text-align: center;
    margin: 90px auto 0 auto;
  }

  .lottie-bg04 {
    position: relative;
    right: -100px;
    top: -380px;
}




/* .liteCard {
    height: 465px;
  }

  .fee {
      text-align: right;
      font-size: 1.25rem;
  }

  .proCard {
    height: 755px;
}

.includes {
    font-size: 1.25rem;
    font-weight: bold;
}

.includes > img {
    position: relative;
    bottom: 40px;
}

.lite {
    font-size: 2rem;
}

.lite > span {
    font-size: 1.125rem;
}

.fee {
    font-size: 1.5rem;
}   

.fee > span {
    font-size: 0.85rem;
}

.proIncludes > img {
    position: relative;
    bottom: 30px;
}

.proIncludes {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 50px 0 10px 0;
}

.pro {
    font-size: 2rem;
}

.pro > span {
    font-size: 1.125rem;
}
  
.proFee {
    font-size: 1rem;
}


li.btick {
    background: url('../img/bSmart Web/Icon\ awesome-check-1.svg') no-repeat left top;
    font-size: 1.125rem;
    padding: 0 0 20px 20px;
}

li.gtick {
    background: url('../img/bSmart Web/Icon\ awesome-check-5.svg') no-repeat left top;
    font-size: 1.125rem;
    padding: 0 0 20px 20px;
} */





@media only screen and (max-width: 576px) {

    .phoneFr {
        grid-area: phoneFr; 
        right: 20px;
        position: relative;
        bottom: 920px;
        margin-bottom: -650px;
        z-index: 1;
        width: 100vw;
    }
    
    .phoneframe-ftSq {
        width: 400px;
        height: 400px;
        margin: 0 auto;   
    }
    
    .phoneLottie1 {
        position: relative;
        left: 100px;
        top: 525px;
    }
    
    .phoneLottie2 {
        position: relative;
        left: 100px;
        top: 500px;
    }


    .threeSteps div:first-child {
        font-size: 1.125rem;
        font-weight: bolder;
        position: relative;
        letter-spacing: 3.89px;
        line-height: normal;
        top: 120px;
        left: 35px;
        width: 85vw;
        text-align: center;
    }

    .threeSteps > div > span {
        display: block;
        font-size: 2.625rem;
        letter-spacing: 8px;
        line-height: 1;
        color: var(--primary-light-color);
        text-align: center;
        margin: -20px 0 15px 0;
    }

    #num01 {
        position: relative;
        z-index: 2;
        right: 15px;
        bottom: 35px;
        margin: 0 auto;
    }
    
    .lottie-bg01 {
        position: relative;
        z-index: 1;
        left: 5px;
        bottom: 245px;
    }

    .lottie-ftSq {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 150px;
        left: 25px;
        border-radius: 5%;
        box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.08);
    }

.title-text {
        font-size: 1.125rem;
        text-align: center;
        width: 319px;
        height: 141px;
    } 

.title-text > span {
    font-size: 1.5rem;
    font-weight: bold;
}

#num02 {
    position: relative;
    z-index: 2;
    left: -150px;
    bottom: 35px;
    margin: 0 auto;
}

.lottie-bg02 {
    position: relative;
    z-index: 1;
    left: 175px;
    bottom: 350px;
}

.lottie-ftSq02 {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 150px;
    left: 25px;
    border-radius: 5%;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.08);
}

.title-text02 {
    font-size: 1.125rem;
    text-align: center;
    width: 319px;
    height: 141px;
} 

.title-text02 > span {
font-size: 1.5rem;
font-weight: bold;
}


.step02 {
    display: flex;
    flex: 1 1 auto;
    align-self: center;
    max-width: 500px;
    text-align: center;
    margin: 75px 10px -50px 10px;

  }

  #num03 {
    position: relative;
    z-index: 2;
    right: 15px;
    bottom: 55px;
    margin: 0 auto;
}

.lottie-bg03 {
    position: relative;
    z-index: 1;
    left: 70px;
    top: -80px;
}

.lottie-ftSq03 {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 150px;
    left: -40px;
    border-radius: 5%;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.08);
}

.title-text03 {
    position: relative;
    bottom: 135px;
    right: 70px;
    font-size: 1.125rem;
    text-align: center;
    width: 319px;
    height: 141px;
    width: 80vw;
} 

.title-text03 > span {
font-size: 1.5rem;
font-weight: bold;
}

.step03 {
    display: flex;
    flex: 1 1 auto;
    align-self: center;
    max-width: 500px;
    text-align: center;
    margin: 90px auto 0 auto;
  }

.aboutWho > .whoWe > .whoTitle {
    position: relative;
    bottom: 300px;
    right: 10px;
    font-size: 1.125rem;
    line-height: 1;
    margin: 0px -35px;
    padding: 10px;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.05);
}


.whoWe > div > span {
    display: block;
    font-size: 2.625rem;
    letter-spacing: 9.07px;
    color: var(--primary-light-color);
    text-align: center;
    line-height: 1;
}
  .aboutWho {
    display: flex;
    flex: 1 1 auto;
    align-self: center;
    max-width: 500px;
    text-align: center;
    margin: 0 auto -350px auto;
  }
  
  .lottie-bg04 {
    position: relative;
    right: 40px;
    top: -330px;
}

.doWhat {
    margin: 85px auto 55px auto;
    width: 75vw;
}

.whatWe > .save-container > .saveMoney span {
    line-height: 1;
}

  .liteCard {
    height: 465px;
  }

  .fee {
      text-align: right;
      font-size: 1.25rem;
  }

  .proCard {
    height: 795px;
}

.includes {
    font-size: 1.125rem;
    font-weight: bold;
}

.includes > img {
    position: relative;
    bottom: 40px;
}

.proIncludes > img {
    position: relative;
    bottom: 12px;
}

.proIncludes {
    grid-area: proIncludes;
    color: white; 
    font-size: 1.125rem;
    text-align: left;
    font-weight: bold;
    margin: 25px 0 10px 0;
}


li.btick {
    background: url('../img/bSmart Web/Icon\ awesome-check-1.svg') no-repeat left top;
    font-size: 1.125rem;
    padding: 0 0 20px 20px;
}

li.gtick {
    background: url('../img/bSmart Web/Icon\ awesome-check-5.svg') no-repeat left top;
    font-size: 1.125rem;
    padding: 0 0 20px 20px;
}
    
    .planDropdown2 {
        background-color: var(--primary-orange-color);
        color: white;
        font-size: 0.8rem;
        padding: 5px 1rem;
        margin: 10px 0;
    }


  }

.flexContact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    font-size: 0.8125rem;
    color: var(--primary-regular-color);
    text-align: left;
    margin: 25px auto;
    color: black;
}


.contact-items:nth-child(1) {
    font-size: 0.8125rem;
    color: black;
    margin-right: 15px;
    
  }

.contact-items:nth-child(2) {
    font-size: 0.8125rem;
    color: black;
    margin-right: 15px;
    
}

.contact-items:nth-child(3) {
    font-size: 0.8125rem;
    color: black;
    
  }

.socialbars {
    display: block;
    flex: 1 1 auto;
    align-self: auto;
    width: 100vw;
    background-color: var(--primary-tintblue-color);
    text-align: justify;
    height: 150px;
    color: black;
    box-shadow: 0px 19px 15px 0px rgba(0,0,0,0.19) inset;
  }

.tbAlign {
    padding: 5px;
    
}

.tbAlign02 {
    text-align: center;
    width: 78vw;
    margin: 15px auto;
}

.mobileFooter {
    display: block;
    flex: 1 1 auto;
    align-self: auto;
    width: 100vw;
    text-align: left;
    padding-bottom: 100px;
    color: var(--primary-regular-color);
}

hr {
    margin: -10px 0 25px 20px;
    width: 90%;
}

.mobileFooter a {
    margin: 20px;
}

.contact-items > div > img {
    width: 100px;
}

 .cpright {
    margin-top: -20px;
    font-size: 0.8125rem;
}
































@media only screen and (min-width: 992px)  {
    
html, body {
    overflow-x: hidden;
}

body {
    position: relative
}  

.hideMobile {
    display: none;
}

}
