:root {
    --primary-dark-color: #192951;
    --primary-regular-color: #0074B4;
    --primary-light-color: #69B3E3;
    --primary-disabled-color: #40A3E2;
    --primary-selected-color: #D5DBEB;
    --primary-ultralight-color: #F4FAFF;
    --primary-unselected-color: #4D97CB;
    --primary-orange-color: #FA7533;
    --primary-tintblue-color: #F2F5FB;
}

/* @font-face {
    font-family: "Futura", "Futura Bold font", "Futura Bold Italic font",
      "Futura Book font", "Futura Book Italic font", "Futura Extra Black font",
      "Futura Heavy font", "Futura Heavy Italic font", "futura light bt",
      "Futura Light font", "Futura Light Italic font", "futura medium bt",
      "futura medium condensed bt", "Futura Medium Italic font", "Futura XBlk BT",
      "tt0205m", "unicode futurab", "unicode futurabb", "sans-serif";
    src: local("../task-5 version 2/fonts") format("opentype");
  } */
  
body {
    font-family: futura-pt, sans-serif;
    font-weight: 300;
}

strong {
    font-weight: 800;
}

ul {
    list-style-type: none;
}

/* On Chrome */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
/* For Firefox and IE */
.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/*----------------------------------------------------*/
/* Navbar Header Area css
============================================================================================ */

.bg-blue {
    background-color: var(--primary-regular-color);
}
  
.navbar-brand {
    padding-left: 12%;
}
  
.navbar-nav.mx-auto.my-2.my-lg-0.navbar-nav-scroll > .nav-item .nav-link {
    color: var(--primary-light-color);
}
  
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-light .navbar-toggler {
    border-color: transparent;
}
  
.nav-link > .btn.btn-primary.rounded-pill {
    background-color: var(--primary-orange-color);
    width: 119px;
}
  
.nav-link > .btn.btn-outline-light.rounded-pill {
    width: 119px;
}

/* dropdown box customisation */
.dropdown:hover .dropdown-menu {
    background-color: var(--primary-regular-color);
    color: var(--primary-light-color);
    padding: 12px 0;
    border-radius: 0px;
    display: block;
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.1);
}

/*----------------------------------------------------*/
/* Landing page Area css
============================================================================================ */


.start-intro {
    display: grid;
    grid: 60% / 1fr 1fr;
    grid-template:
    "intro-Title"
    "phoneFr";
}

.intro-Title {
    grid-area: intro-Title;
    background-color: var(--primary-regular-color);
    padding: 0 0 150px 0;
    z-index: 1;
}

.intro-Title > * {
    text-align: center;
    color: white;
    margin: 25px 0 25px 0;
    width: 100vw;
}

.intro-Title > div > .btn.btn-primary-info.rounded-pill {
    background-color: var(--primary-light-color);
    color: white;
    margin-top: 5px;
    width: 157px;
    height: 36px;
    font-size: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 15px;
    padding: 10px 35px;    
}

.phoneFr {
    grid-area: phoneFr; 
    text-align: center;
    position: relative;
    bottom: 920px;
    margin-bottom: -650px;
    z-index: 2;
    width: 100vw;
}

.phoneframe-ftSq {
    width: 400px;
    height: 400px;
    margin: 0 auto;   
}

.phoneLottie1 {
    position: relative;
    left: 100px;
    top: 525px;
}

.phoneLottie2 {
    position: relative;
    left: 100px;
    top: 500px;
}

/* <!-- === title === --> */

.title1 {
    display: block;
    font-size: 1.125rem;
    letter-spacing: 3.89px;
    font-weight: 800;
    text-align: center;
}

.title2 {
    display: block;
    font-size: 2.625rem;
    letter-spacing: 8px;
    color: var(--primary-light-color);
    text-align: center;
}

/* <!-- ===3 Steps=== --> */

.threeSteps {
    grid-area: threeSteps;
    text-align: center;
    position: relative;
    bottom: 135px; 
}

.threeSteps div:first-child {
    font-size: 1.25rem;
    font-weight: bold;
    position: relative;
    letter-spacing: 3.89px;
    top: 155px;
}

.threeSteps > div > span {
    display: block;
    font-size: 2.625rem;
    letter-spacing: 8px;
    color: var(--primary-light-color);
    text-align: center;
}

.threeSteps > div {
    margin-top: 150px;
}

.d-flex > .vr {
    height: 148px;
    color: #CECECE;
    border-left: dashed 1px;
    margin: -110px auto;
}

.container > .row > .col-12 > .d-flex {
    margin: 50px 0px;
}

/* <!-- === biz01 === --> */

.pad01 {
    padding-left: 200px;
}

.pad02 {
    padding-left: 100px;
}

.lottie-ftSq01 {
    max-width: 200px;
    height: 200px;
    margin: 5%;
    border-radius: 5%;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.08);
}

#num01 {
    position: relative;
    width: 120px;
    z-index: 2;
    right: 55px;
    bottom: 35px;
    margin: 0 auto;
}

.lottie-bg01 {
    position: relative;
    z-index: 1;
    left: 5px;
    bottom: 75px;
}

.title-text01 {
    font-size: 1.3125rem;
    max-width: 700px;
    height: 250px;
    margin: 50px 0 0 100px;
}

.title-text01 > span {
    font-weight: bold;
    text-align: justify;
}

/* <!-- === speed02 === --> */

.lottie-ftSq02 {
    max-width: 200px;
    height: 200px;
    margin: 5%;
    border-radius: 5%;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.08);
}

#num02 {
    position: relative;
    width: 120px;
    z-index: 2;
    left: 95px;
    bottom: 40px;
    margin: 0 auto;
}

.lottie-bg02 {
    position: relative;
    z-index: 1;
    bottom: 60px;
    right: 15px;
}

.title-text02 {
    font-size: 1.3125rem;
    max-width: 450px;
    height: 250px;
    margin: 50px 50px 0 0;
}

.title-text02 > span {
    font-weight: bold;
}

/* <!-- === funding03 === --> */

.lottie-ftSq03 {
    max-width: 200px;
    height: 200px;
    margin: 5%;
    border-radius: 5%;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.08);
}

#num03 {
    position: relative;
    width: 120px;
    z-index: 2;
    left: -55px;
    bottom: 35px;
    margin: 0 auto;
}

.lottie-bg03 {
    position: relative;
    z-index: 1;
    bottom: 100px;
    right: 55px;
}

.title-text03 {
    font-size: 1.3125rem;
    max-width: 700px;
    height: 250px;
    margin: 50px 0 0 100px;
}

.title-text03 > span {
    font-weight: bold;
}

/* <!-- === Who we are === --> */

.whoTitle {
    font-size: 1.125rem;
    width: 400px;
    height: fit-content;
    margin: 80px auto;
    padding: 25px;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.05);
}

.flexWhoWe > div > span {
   font-weight: bold; 
}

.lottie-bg04 {
    position: relative;
    top: 20%;
    left: 25%;
    transform: translateX(-50%);
}

/* <!-- === What we do === --> */

.whatWe {
    border-radius: 15px;
    background-color: var(--primary-regular-color);
    color: white;
    padding: 4%;
    width: 95%;
    font-size: 1.125rem;
}

.subtitle {
    font-size: 1.75rem;
    line-height: 1;
}

.lottie-bg05 {
    position: relative;
    top: 5%;
    left: 15%;
    padding: 10px;
}

/* <!-- === Pricing Plans === --> */

.pricingPlans > div {
    font-size: 1.75rem;
}

.pricingPlans > div:last-child {
    font-size: 0.75rem;
}

.title1.mt-5 {
    padding-top: 100px;
}

.title2.mb-1 {
    padding-bottom: 15px;
}

.pricingPlans {
    box-shadow: 0px 0px 90px -20px rgba(0,0,0,0.35);
    border-radius: 35px;
    padding: 16px;
    text-align: center;
    margin: 0px auto 175px auto;
    max-width: 920px;
}

.lite-container {
    display: inline-block;
    max-width: 270px;
    height: 616px;
    background-color: var(--primary-tintblue-color);
    border-radius: 15px;
    padding: 10px;
    margin: 10px 10px 10px 20px;
}

.liteContent {
    display: grid;
    grid: 1fr 1fr / 0.3fr 0.2fr;
    grid-auto-flow: column;
    grid-template:
      "lite fee"
      "includes .";
}
  
.lite {
    grid-area: lite; 
    text-align: left;
    font-size: 1.5625rem;
    font-weight: 600;
    color: var(--primary-dark-color);
}

.lite > span {
    font-size: 0.8125rem;
}

.fee {
    grid-area: fee; 
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 600;
}   

.fee > span {
    font-size: 0.6875rem;
}

.includes {
    grid-area: includes;
    font-size: 0.875rem;
    text-align: left;
    font-weight: 600;
    margin: 25px 0 10px 0;
}

.includes > img {
    position: relative;
    bottom: 12px;
}

.planText {
    display: flex;
    font-size: 0.75rem;
    text-align: left;
    line-height: 1.25;
    margin: 10px 0px 20px 0px;
}

.planText > img {
    position: relative;
    right: 10px;
    bottom: 5px;
}

.pro-container {
    display: inline-block;
    max-width: 270px;
    height: 616px;
    background-color: var(--primary-dark-color);
    border-radius: 15px;
    padding: 20px;
    color: white;
    margin: 10px;
}

.proContent {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr;
    grid-template:
      "pro"
      "proFee"
      "proIncludes";
}

.pro {
    grid-area: pro;
    font-size: 1.5625rem;
    color: var(--primary-light-color) ;
    text-align: left;
    font-weight: 600;
}

.proFee {
    grid-area: proFee;
    font-size: 0.6875rem;
    color: var(--primary-light-color); 
    text-align: left;
}

.proIncludes {
    grid-area: proIncludes;
    color: white; 
    font-size: 0.875rem;
    text-align: left;
    margin: 25px 0 10px 0;
    font-weight: 600;
}

.pro > span {
    font-size: 0.8125rem;
}

/* <!-- === Next Steps === --> */

.nextSteps {
    background-color: var(--primary-dark-color);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.557) 0 3px 35px;
    padding-top: 30px;
    height: 550px;
}

.nextSteps > .container-fluid {
    color: white;
    margin: 30px 0;
    font-size: 1.125rem;
}

.container-fluid > div > span  {
    font-size: 2.625rem;
}

.container-fluid > div:first-child {
    font-weight: 600;
}

.planDropdown {
    background-color: var(--primary-orange-color);
    color: white;
    font-size: 1.0625rem;
    font-weight: bold;
    padding: 5px;
}

.dropdown-toggle::after {
    margin-left: 25px;
}

.row.col.dropdown-menu.w-100 > .dropdown-item {
    background-color: var(--primary-orange-color);
}

.sendBtn {
    background: var(--primary-unselected-color);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    border-style: none;
}

/* <!-- === social & contact footer === --> */

.contactBg {
    background-color: var(--primary-tintblue-color);
    height: 111px;
    padding: 25px;
    box-shadow: 0px 19px 15px 0px rgba(0,0,0,0.19) inset;
}

.col-lg-8 {
    font-weight: 100;
}

/* <!-- === web end footer === --> */

.webFooter > *, table {
    font-size: 0.8125rem;
    font-family: "Helvetica Neue";
    color: var(--primary-regular-color)
}

table {
    color: black;
    float: right;
}

.col-lg-4.col-12.padfooter {
    padding: 15px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 992px) {
    
html, body {
    overflow-x: hidden;
}
body {
    position: relative
}  

img[src*=phonebackdrop] {
    visibility: hidden;
}

.d-flex > .vr {
    display: none;
}

hr {
    display: block;
}
  
.threeSteps:nth-child(1) {
    visibility: visible;
    width: 100vw;
}

.contain-steps {
    margin: 0px auto -148px auto;
}

/* <!-- === mobile biz01 === --> */

.pad01 {
    padding-left: 0px;
}

.pad02 {
    padding-left: 0px;
}

.lottie-ftSq01 {
    position: relative;
    left: 200px;
}

#num01 {
    left: -75px;
}

.title-text01 {
    margin: 0px;
    text-align: justify;
}

/* <!-- === mobile speed02 === --> */

.lottie-ftSq02 {
    position: relative;
    left: 200px;
}

#num02 {
    position: relative;
    left: -55px;
}

.title-text02 {
    max-width: 700px;
    margin: 0px;
    text-align: justify;
}

/* <!-- === mobile funding03 === --> */

.lottie-ftSq03 {
    position: relative;
    left: 200px;
}

.lottie-bg03 {
    position: relative;
    z-index: 1;
    bottom: 100px;
    right: 55px;
}

.title-text03 {
    margin: 0px;
    text-align: justify;
}

/* <!-- === mobile What we do === --> */

.lottie-bg05 {
    top: 5%;
    left: 25%;
}

/* <!-- === mobile Pricing Plans === --> */

.pricingPlans > div {
    font-size: 1.75rem;
}

.pricingPlans > div:last-child {
    display: none;
}

.title1.mt-5 {
    padding-top: 100px;
}

.title2.mb-1 {
    padding-bottom: 15px;
}

.pricingPlans {
    padding: 0px;
    text-align: left;
    margin: 0px auto 175px auto;
    box-shadow: none;
}

.lite-container {
    min-width: 85vw;
    height: auto;
    padding: 10px 10px 20px 10px;
    margin: 10px 10px 10px 20px;
}

.liteContent {
    display: grid;
    grid: 1fr 1fr / 0.3fr 0.2fr;
    grid-auto-flow: column;
    grid-template:
      "lite fee"
      "includes .";
}
  
.lite {
    grid-area: lite; 
    text-align: left;
    font-size: 1.5625rem;
    font-weight: 600;
    color: var(--primary-dark-color);
}

.lite > span {
    font-size: 0.8125rem;
}

.fee {
    grid-area: fee; 
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 600;
    text-align: right;
    padding-right: 10px;
}   

.fee > span {
    font-size: 0.6875rem;
}

.includes {
    grid-area: includes;
    font-size: 1.125rem;
    text-align: left;
    font-weight: 600;
    margin: 25px 0 10px 0;
}

.includes > img {
    position: relative;
    bottom: 12px;
}

.planText {
    display: flex;
    font-size: 1.125rem;
    text-align: left;
}

.col-lg-6.col-12.pro-container > .planText {
    width: 75vw;
}

.planText > img {
    position: relative;
    right: 10px;
    bottom: 5px;
}

.pro-container {
    min-width: 85vw;
    height: fit-content;
    padding: 10px 10px 10px 25px;
    margin: 10px 10px 10px 20px;
}

.proContent {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr;
    grid-template:
      "pro"
      "proFee"
      "proIncludes";
}

.pro {
    grid-area: pro;
    font-size: 1.5625rem;
    color: var(--primary-light-color) ;
    text-align: left;
    font-weight: 600;
}

.proFee {
    grid-area: proFee;
    font-size: 0.6875rem;
    color: var(--primary-light-color); 
    text-align: left;
}

.proIncludes {
    grid-area: proIncludes;
    color: white; 
    font-size: 1.125rem;
    text-align: left;
    margin: 25px 0 10px 0;
    font-weight: 600;
}

.pro > span {
    font-size: 0.8125rem;
}

/* mobile footer */

.mr-4 > * {
    height: 25px;
    margin: 0px 0.5rem;
}

.contactBg {
    height: 180px;
}

.container-fluid.contactBg > .row {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.875rem;
    text-align: center;
}

.contactBg > .row > .col-lg-6 {
    margin-top: 30px;
}

.col-lg-8 {
    margin-top: 25px;
}

table {
    color: black;
}

.col-lg-4.col-12 {
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    
html, body {
    overflow-x: hidden;
}

body {
    position: relative
}  

img[src*=phonebackdrop] {
    visibility: hidden;
}

.d-flex > .vr {
    display: none;
}

.planDropdown {
    font-size: 1.0625rem;
    font-weight: bold;
    padding: 5px;
}

.col-3 > div > img {
    width: 66px;
}


.lottie-ftSq01, .lottie-ftSq02, .lottie-ftSq03 {
    left: 20%;
}

}
}

@media only screen and (max-width: 576px) {
    
html, body {
    overflow-x: hidden;
}
    
body {
    position: relative
}  
    
img[src*=phonebackdrop] {
    visibility: hidden;
}
    
.d-flex > .vr {
    display: none;
}
    
/* <!-- === phoneFrame === --> */   

.title-text01, .title-text02, .title-text03 {
    line-height: 1;
    font-size: 1.125rem;
}

.planDropdown {
    font-size: 0.875rem;
    padding: 5px;   
}

/* <!-- === mobile Who we are === --> */  

.whoTitle {
    max-width: 95vw;
}

/* <!-- === mobile What we do === --> */
.whatWe {
    margin: 25px 15px 0px 15px;
}

/* <!-- === mobile Pricing Plans === --> */

.planDropdown, .sendBtn, .form-control {
    font-size: 2.5vw;
}

/* <!-- === mobile footer === --> */

img[src*=SFA-Certified-FinTech-Badge-horizontal-scaled] {
    width: 94.51px;
}

img[src*=AeroAdvisor] {
    width: 79.39px;
    margin-top: 15px !important;
}

img[src*=intuitQB] {
    width: 106.84px;
    margin-top: 15px !important;
}


}

@media only screen and (min-device-width : 100px) and (max-device-width : 480px) {


img[src*=iphoneframe] {
    width: 270px;
}

.phoneframe-ftSq {
    width: 270px;
    height: 270px;
    margin: 0 auto;   
}

.phoneLottie1 {
    left: 35px;
    top: 450px;
}

.phoneLottie2 {
    position: relative;
    left: 35px;
    top: 400px;
}

/* <!-- === phoneFrame (Galaxy Fold) === --> */   

.lottie-ftSq01, .lottie-ftSq02, .lottie-ftSq03 {
    left: 50px;
}

.lottie-bg05 {
    left: 1%;
}

.lottie-bg04 {
    left: 10%;
    transform: translateX(-50%);
}

}

@media only screen and (min-width: 992px)  {
    
html, body {
    overflow-x: hidden;
}
    
body {
    position: relative
}  
    
.hideMobile {
    display: none;
}

.mobileFooter {
    display: none;
}

hr {
    display: none;
}


}