.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 480px;
    height: 480px;;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 475px;
}

.row .col {
    display: block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: 1px solid red;
}
